<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='_css/pool.css') }}" />
</head>
<body>
	<div id="main">
		<div id="top">
			<div id="corner"></div>
			<div id="header"><span class="logo" />&nbsp;</span><span class="vertical-center">QUEM DEVE SER ELIMINADO?</span></div>
			<div id="line">
				<hr class="style-one" /><hr class="style-one" /><hr class="style-one" /><hr class="style-one" />
			</div>
			<div id="contestants">	
				<div id="contestant1" class="contestant">
					<div class="name"><span class="participante">Participante 1</span></div>
					<div id="photo1" class="photo"></div>
					<div class="info">
						Para eliminar o <span class="bold">Participante 1</span> pelo telefone disque <span class="bold">0800-123-001</span> ou mande um SMS para <span class="bold">8001</span>
					</div>
				</div>
				<div id="contestant2" class="contestant">
					<div class="name"><span class="participante">Participante 2</span></div>
					<div id="photo2" class="photo"></div>
					<div class="info">
						Para eliminar o <span class="bold">Participante 2</span> pelo telefone disque <span class="bold">0800-123-002</span> ou mande um SMS para <span class="bold">8002</span>
					</div>
				</div>
			</div>
		</div>
		<div id="bottom">
			<div id="buttom">
				Envie seu voto agora
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='_js/voting.js') }}"></script>

</body>