# Configuration
DATABASE = 'db/bbbvoting.db'
DEBUG = True
SECRET_KEY = 'votacaoBBB'
USERNAME = 'admin'
PASSWORD = 'admin'
TESTING = True
PORT = 80
IP_BIND = '127.0.0.1'

RECAPTCHA_SITE_KEY = "6Le4LQcTAAAAADxEqxZps9myTRk1YcDstYOr8axM"
RECAPTCHA_SECRET_KEY = "6Le4LQcTAAAAAGM0F93CoZag-MNrKLm3BZexkzsp"

END_VOTING='201505302000'
